<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}} - {{name}}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
        integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
        integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
</head>

<body>
    <header>
        <nav id="menu-button-extension" class="header-item">
            <a id="menu-button" href="javascript:void(0)" onclick="changeMenu()">
                <img src="{{url_for('static', filename='img/menu-bars.png')}}" alt="Menu">
            </a>
        </nav>
        <a id="logo" class="header-item">{{name}}</a>
    </header>
    <main id="main">
        <div id="menu">
            {% for option in options %}
            <a class="menu-content-item" href="/{{option}}">
                <h2>{{option | capitalize}}</h2>
            </a>
            {% endfor %}
        </div>
        <aside id="configuration">
            <div id="adjustment">
                <h1 id="adjustment-title">{{title}}</h1>
                {% block content %}{% endblock %}
            </div>
            <div id="positions">
                <h1 id="position-title">Configuration</h1>
                <p id="position-description">Current configuration of the Physical Sun Simulator</p>
                <form id="positions-configuration">
                    <div id="elevation">
                        <label for="elevation-field">Elevation: </label>
                        <input type="text" id="elevation-field" class="field" name="elevation" readonly />
                    </div>
                    <div id="azimuth">
                        <label for="azimuth-field">Azimuth: </label>
                        <input type="text" id="azimuth-field" class="field" name="azimuth" readonly />
                    </div>
                </form>
            </div>
            <div id="about">
                <h3>© Aqiel Oostenbrug</h3>
            </div>
        </aside>
        <section id="canvas">
            {% include canvas_component %}
        </section>
    </main>
    <script src="{{url_for('static', filename='js/script.js')}}"></script>
</body>

</html>