{% extends 'base.html' %}


{% block content %}
<p id="description">Move the machine to a specific provided elevation and azimuth angle (for precise calibration purposes)</p>
<form id="input" action="/calibrate" method="POST">
    <div id="elevation">
        <label for="elevation-field">Elevation: </label>
        <input id="elevation-field" name="elevation" class="field" type="text" placeholder="elevation angle" required/>
    </div>
    <div id="azimuth">
        <label for="azimuth-field">Azimuth: </label>
        <input id="azimuth-field" name="azimuth" class="field" type="text" placeholder="azimuth angle" required/>
    </div>
    <div id="controls">
        <input type="submit" name="start" id="start" value="Start">
        <input type="submit" name="stop" id="stop" value="Stop">
    </div>
</form>
{% endblock %}