{% extends 'base.html' %}


{% block content %}
<p id="description">Move the machine to a specific provided elevation and azimuth angle (for precise calibration purposes)</p>
<form id="input">
    <div id="elevation">
        <label for="elevation-field">Elevation: </label>
        <input id="elevation-field" class="field" type="text" placeholder="elevation angle" required/>
    </div>
    <div id="azimuth">
        <label for="azimuth-field">Azimuth: </label>
        <input id="azimuth-field" class="field" type="text" placeholder="azimuth angle" required/>
    </div>
    <div id="speed">
        <label for="speed-field">Speed: </label>
        <input id="speed-field" class="field" type="text" placeholder="speed" required/>
    </div>
    <div id="controls">
        <input type="button" id="start" value="Start" required>
        <input type="button" id="stop" value="Stop" required>
    </div>
</form>
{% endblock %}